<!-- Contact section -->
<section id="contact" class="contact_wrapper">
    <div class="container">
        <div class="row justify-content-between align-item-center">
            <div class="col-lg-6 order-2 order-lg-1 pe-lg-5 text-lg-start text-center">
                <span class="subtitle">Contacto</span>
            <h2>Contactame</h2>
            <div class="card-body text-md-start text-center">
                <label class="subtitle">Contacto Teléfono:</label>

                <div class="col-sm-9 mb-3 mb-lg-2">
                        <a href="javascript:void(0)">+54 342 5300941</a>
                </div>

                <label class="subtitle">Contacto Email:</label>

                <div class="col-sm-9 mb-3 mb-lg-2">
                    <a href="mailto:lorenzozapatazarate@gmail.com">lorenzozapatazarate@gmail.com</a>
                </div>
            
                <form>
                    <div class="mb-4">
                        <input type="text" class="form-control" placeholder="Su Nombre..." autocomplete="off">
                    </div>
                    <div class="mb-4">
                     <input type="number" class="form-control" placeholder="Su teléfono..." autocomplete="off">
                    </div>
                    <div class="mb-4">
                        <input type="email" class="form-control" placeholder="Su Email..." autocomplete="off">
                    </div>
                    <div class="mb-4">
                        <textarea cols="40" rows="4" class="form-control" id="message" placeholder="Write a Message..." autocomplete="off">

                        </textarea>
                    </div>
                    <button type="submit" class="main-btn">Enviar</button>
                </form>
            </div>
            </div>
            <div class="col-lg-6 order-1 mb-4 order-lg-1 mb-lg-0">
                <div class="row pt-2 my-3 text-center">
                    <h2>Ubicación y Redes</h2>
                </div>
                <div class="card-body text-md-start text-center">
                <div class="local-solcial adress row my-2 position-relative content">
                    <div class="col-3 contact-icon d-flex align-content-center me-2">
                       
                    </div>
                    <div class="col-9">
                        <h3 class="row">Ubicación:</h3>
                        <div class="row">   
                            <a href="https://goo.gl/maps/fdC96kYtuQTW8gFp6" target="_blanck" class="stretched-link contact-a ps-0">Santo Tome, Santa Fe, Argentina</a>
                        </div>
                    </div>
                </div>
                <div class="local-social email row my-2 position-relative">
                    <div class="col-3 contact-icon d-flex align-content-center me-2">

                    </div>
                    <div class="col-9">
                        <h3 class="row">Email:</h3>
                        <div class="row">
                            <a href="mailto:lorenzozapatazarate@gmail.com:" target="_blanck" class="stretched-link contact-a ps-0">lorenzozapatazarate@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div class="local-social whatsapp row my-2 position-relative">
                    <div class="col-3 contact-icon d-flex align-content-center me-2">

                    </div>
                    <div class="col-9">
                        <h3 class="row">Whatsapp:</h3>
                        <div class="row">
                            <a href="#" target="_blanck" class="stretched-link contact-a ps-0">+54 3425300941</a>
                        </div>
                    </div>
                </div>
                <div class="github row my-2 position-relative">
                    <div class="col-3 contact-icon d-flex align-content-center me-2">

                    </div>
                    <div class="col-9">
                        <h3 class="row">Github</h3>
                        <div class="row">
                            <a href="https://github.com/lolo-zapata" target="_blanck" class="stretched-link contact-a ps-0">https://github.com/lolo-zapata</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact section exit -->