<!-- Footer section -->
<section class="footer_wrapper mt-3 mt-md-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-g text-center text-md-start">
                <app-img-f></app-img-f> 
            </div>
        </div>
        <div class="row align-items-center">
            <h3 class="col-sm-12 text-center text-mb-4">
               Lorenzo Zapata - Web Developer
            </h3>
        </div>
    </div>
</section>

<!-- Footer section exit -->