
    <!-- Seccion Navbar -->
    <header data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="75" class="header_wrapper">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="../../../assets/ArgentinaPrograma.png" alt="LogoArgentinaPrograma">
              </a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <!-- <span class="navbar-toggler-icon"></span> -->
               <i class="fa-solid fa-bars navbar-toggler-icon"></i>
              </button>

              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  <ul class="navbar-nav menu-navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#education">Educación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#proyects">Proyectos</a>
                    </li>

                    <li class="btn-group dropstart">
                        <button type="button" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Login
                        </button>
                        <form class="dropdown-menu p-4">
                          <div class="mb-3">
                            <label for="Login-username-portfolio" class="form-label">Usuario</label>
                            <input type="username" class="form-control" id="username-portfolio" placeholder="username">
                          </div>
                          <div class="mb-3">
                            <label for="Login-password-portfolio" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password-portfolio" placeholder="Password">
                          </div>
                          <div class="mb-3">
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="dropdownCheck">
                              <label class="form-check-label" for="dropdownCheck">
                                Recuerdame
                              </label>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                    </li>                   
                  </ul>
                </div>
              </div>
          </nav>    
    </header>
    <!-- Seccion Navbar exit     !-- nav-item mt-3 mt-lg-0   <a class="main-btn" href="">Login</a> -->-->


    <!-- Seccion Banner  -->
    <section id="home" class="banner_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center text-md-start">
                     <h6>BIENVENIDOS A MI MUNDO</h6>
                     <h1>Soy Lorenzo Zapata<br><span>Full Stack Developer Jr.</span><br>Radicado en Argentina.</h1>
                     <div class="icon">
                        <a href="https://github.com/lolo-zapata" id="github">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="" id="linkedin">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="" id="twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" id="facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="" id="instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner section exit -->