
    <!-- Seccion Navbar -->
    <header data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="75" class="header_wrapper">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="../../../assets/ArgentinaPrograma.png" alt="LogoArgentinaPrograma">
              </a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <!-- <span class="navbar-toggler-icon"></span> -->
               <i class="fa-solid fa-bars navbar-toggler-icon"></i>
              </button>

              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  <ul class="navbar-nav menu-navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#education">Educación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#proyects">Proyectos</a>

                    <li class="nav-item mt-3 mt-lg-0">
                        <a class="main-btn" href="">Login</a>
                        
                    </li>
                  </ul>
                </div>
              </div>
          </nav>    
    </header>
    <!-- Seccion Navbar exit -->


    <!-- Seccion Banner  -->
    <section id="home" class="banner_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center text-md-start">
                     <h6>BIENVENIDOS A MI MUNDO</h6>
                     <h1>Soy Lorenzo Zapata<br><span>Full Stack Developer Jr.</span><br>Radicado en Argentina.</h1>
                     <div class="mt-4">
                        <a class="main-btn" href="resume/resume.docx">Descargar CV</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner section exit -->