<!-- Seccion Banner  -->
<section id="home" class="banner_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center text-md-start">    
                 <!-- <img src="../../../../assets/fondobaner.jpg" class="fondobaner"> -->           
                 <h6>BIENVENIDOS A MI MUNDO</h6>
                 <h1>{{miPortfolio.name}}<br>
                    <span>{{miPortfolio.position}}</span><br>
                    {{miPortfolio.radicadoEn}} <app-edit></app-edit>
                </h1>
                 <ul class="icon">
                     <app-redes></app-redes>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Banner section exit -->