<!-- Seccion Banner  -->
<section id="home" class="banner_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center text-md-start">
                 <h6>BIENVENIDOS A MI MUNDO</h6>
                 <h1>Soy Lorenzo Zapata<br><span>Full Stack Developer Jr.</span><br>Radicado en Argentina.</h1>
                 <div class="icon">
                    <a href="https://github.com/lolo-zapata" target="_blank" id="github">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" id="linkedin">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" id="twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.youtube.com/watch?v=lpiB2wMc49g" target="_blank" id="facebook">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.youtube.com/watch?v=lpiB2wMc49g" target="_blank" id="instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner section exit -->