<li *ngFor="let circleSkills of skillsList" class="circle">
    <circle-progress
    [percent]="circleSkills.percent"
    [radius]="circleSkills.radius"
    [imageSrc]="circleSkills.imageSrc"
    [showImage]="circleSkills.showImage"
    [imageHeight]="circleSkills.imageHeight"
    [imageWidth]="circleSkills.imageWidth"
    [showUnits]="circleSkills.showUnits"
    [showSubtitle]="circleSkills.showSubtitle"
    [outerStrokeWidth]="circleSkills.outerStrokeWidth"
    [innerStrokeWidth]="circleSkills.innerStrokeWidth"
    [outerStrokeColor]="circleSkills.outerStrokeColor"
    [innerStrokeColor]="circleSkills.innerStrokeColor"
    [animation]="circleSkills.animation"
    [animationDuration]="circleSkills.animationDuration"
    [lazy]="circleSkills.lazy">
    </circle-progress>
</li>
    
