    <circle-progress
    [percent]="50"
    [radius]="70"
    [imageSrc]='"../../../assets/html.png"'
    [showImage]="true"
    [imageHeight]="67"
    [imageWidth]="67"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#Fc3838'"
    [innerStrokeColor]="'#337DFF'"
    [animation]="true"
    [animationDuration]="300"
    [lazy]="false"
    ></circle-progress>
    <circle-progress
    [percent]="50"
    [radius]="70"
    [imageSrc]='"../../../assets/css-3.png"'
    [showImage]="true"
    [imageHeight]="67"
    [imageWidth]="67"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#Fc3838'"
    [innerStrokeColor]="'#337DFF'"
    [animation]="true"
    [animationDuration]="300"
    [lazy]="false"
    ></circle-progress>
    <circle-progress
    [percent]="70"
    [radius]="70"
    [imageSrc]='"../../../assets/bootstrap.png"'
    [showImage]="true"
    [imageHeight]="67"
    [imageWidth]="67"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#Fc3838'"
    [innerStrokeColor]="'#337DFF'"
    [animation]="true"
    [animationDuration]="300"
    [lazy]="false"
    ></circle-progress>
    <circle-progress
    [percent]="30"
    [radius]="70"
    [imageSrc]='"../../../assets/js.png"'
    [showImage]="true"
    [imageHeight]="67"
    [imageWidth]="67"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#Fc3838'"
    [innerStrokeColor]="'#337DFF'"
    [animation]="true"
    [animationDuration]="300"
    [lazy]="false"
    ></circle-progress>
    <circle-progress
    [percent]="40"
    [radius]="70"
    [imageSrc]='"../../../assets/angular.png"'
    [showImage]="true"
    [imageHeight]="67"
    [imageWidth]="67"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#Fc3838'"
    [innerStrokeColor]="'#337DFF'"
    [animation]="true"
    [animationDuration]="300"
    [lazy]="false"
    ></circle-progress>
    <circle-progress
    [percent]="90"
    [radius]="70"
    [imageSrc]='"../../../assets/github.png"'
    [showImage]="true"
    [imageHeight]="67"
    [imageWidth]="67"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#Fc3838'"
    [innerStrokeColor]="'#337DFF'"
    [animation]="true"
    [animationDuration]="300"
    [lazy]="false"
    ></circle-progress>