<!-- Education section -->
<section id="education" class="education_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-4">
                <span class="subtitle">¿Donde estudié?</span>
                <h2>Instituciones a las cuales participé</h2>
            </div>
        </div>
         <ul class="row">
            <li *ngFor="let education of educationList" class="col-lg-4 col-md-6 mb-4">
                <div class="card-body text-md-start text-center">
                    <img [src]="education.imgE" alt="education" class="img-fluid mb-4">
                    <h3>{{education.titulo}}</h3>
                    <p><time>{{education.comienzo}}</time> - <time>{{education.final}}</time></p>
                    <p>{{education.donde}}</p>
                </div>
                <app-edit></app-edit>
            </li>
        </ul>
    </div>
</section>

<!-- Education section exit -->