<!-- Education section -->
<section id="education" class="education_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-4">
                <span class="subtitle">¿Donde estudié?</span>
                <h2>Instituciones a las cuales participé</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card-body text-md-start text-center">
                    <img src="../../../assets/WhatsApp Image 2022-05-09 at 8.53.51 AM.jpeg" alt="education" class="img-fluid mb-4">
                    <h3>Full Stack Developer Jr</h3>
                    <p>2021 - 2022</p>
                    <p>Argentina Programa - #YoProgramo</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card-body text-md-start text-center">
                    <img src="../../../assets/ap-dark.png" alt="education" class="img-fluid mb-4">
                    <h3>Primera etapa Argentina Programa</h3>
                    <p>2021</p>
                    <p>Argentina Programa - #SeProgramar</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card-body text-md-start text-center">
                        <img src="../../../assets/ap-dark.png" alt="education" class="img-fluid mb-4">
                        <h3>Lic. Prof. Filosofía</h3>
                        <p>2019 - Actualidad</p>
                        <p>UNL-FHUC - Santa Fe, Argentina</p>
               </div>
            </div>
        </div>
    </div>
</section>

<!-- Education section exit -->