<ul class="tab-pane fade show active" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
    <li *ngFor="let progreso of progresoList" class="single-progress">
        <h6>{{progreso.habilidad}}</h6>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <span class="label">{{progreso.valor}}</span>
    </li>
</ul>

<!-- div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"></div> -->
<ul class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    
        <app-hary-softskills></app-hary-softskills>  

</ul>
<div class="tab-pane fade" id="pills-experiencia" role="tabpanel" aria-labelledby="pills-experiencia-tab">

</div>