<!-- Proyects section -->
<section id="proyects" class="proyects_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-4">
                <span class="subtitle">¿Cuáles proyectos realicé?</span>
                <h2>A continuación los proyectos en los que me vi involucrados</h2>
            </div>
        </div>
        <ul class="row">
            <li *ngFor="let proyects of proyectsList" class="col-lg-4 col-md-6 mb-4">
                <div class="card-body text-md-start text-center">
                    <a [href]="proyects.link" target="_blank">
                        <img [src]="proyects.imgE" class="img-fluid mb-4">
                    </a>
                        <h3>{{proyects.titulo}}</h3>
                        <p><time>{{proyects.fecha}}</time></p>
                        <p>{{proyects.donde}}</p>                        
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- Education section exit -->
